[project]
name = "{{ tool_name }}"
version = "0.1.0"
description = "{{ description }}"
requires-python = ">=3.10"
dependencies = [
{%- for dep in extra_dependencies %}
    "{{ dep }}",
{%- endfor %}
]

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"
